html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(135deg,#1da1f2,#981ceb);
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    color: #fdffff;
}

input {
    height: 20px;
}
